<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="/public/javascripts/style.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Home page</title>
  </head>
  <body>

    <section>
      <div class="wrapper">

        <h2><strong>Movies Category<span>( 4 )</span></strong></h2>

        <div class="cards">

          <figure class="card">

            <img src="https://i.ibb.co/dpDJZ2b/1.jpg" />

            <figcaption>Dota 2</figcaption>

          </figure>

          <figure class="card">

            <img src="https://i.ibb.co/X7nQxgj/2.jpg" />

            <figcaption>Stick Fight</figcaption>

          </figure>

          <figure class="card">

            <img src="https://i.ibb.co/FqTvB96/3.jpg" />

            <figcaption>Minion Masters</figcaption>

          </figure>

          <figure class="card">

            <img src="https://i.ibb.co/4P0CDKX/4.jpg" />

            <figcaption>KoseBoz!</figcaption>

          </figure>

        </div>
        <h2><strong>What's new?</strong></h2>

        <div class="news">
          {{#each movies}}
            <figure class="article">
              <a href="/watch/{{this.id}}" class="movie-link">
                <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}" />
                <figcaption>
        <h3>{{this.title}}</h3>  <!-- Ensure this is inside figcaption -->
        <small style="color:darkgrey;">Genres: {{this.genre_ids}}</small>
        <p>{{this.overview}}</p>
      </figcaption>
              </a>
              <h3>{{this.title}}</h3>
            </figure>
          {{/each}}
        </div>

      </div>
    </section>

 <div class="pagination">
    {{#if (gt currentPage 1)}}
        <a href="/?page=1" class="btn first">« First</a>
        <a href="/?page={{sub currentPage 1}}" class="btn prev">‹ Prev</a>
    {{else}}
        <span class="btn disabled">« First</span>
        <span class="btn disabled">‹ Prev</span>
    {{/if}}

    {{#each (range (sub currentPage 2) (add currentPage 2))}}
        {{#if (and (gt this 0) (lte this ../totalPages))}}
            <a href="/?page={{this}}" class="btn {{#if (eq this ../currentPage)}} active{{/if}}">{{this}}</a>
        {{/if}}
    {{/each}}

    {{#if (lt currentPage totalPages)}}
        <a href="/?page={{add currentPage 1}}" class="btn next">Next ›</a>
        <a href="/?page={{totalPages}}" class="btn last">Last »</a>
    {{else}}
        <span class="btn disabled">Next ›</span>
        <span class="btn disabled">Last »</span>
    {{/if}}
</div>



<style>



</style>


    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <h2>OnlineMOV</h2>
            <p>Your best platform for movies & entertainment.</p>
          </div>

          <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Movies</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="footer-social">
            <h3>Follow Us</h3>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <p>&copy; 2025 OnlineMOV. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>