<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/watching_page.css">
    <script src="/javascripts/style.js"></script>
    
    <title>Document</title>
</head>
<body style="background-color: #24282f;">
    
    {{> user-header}} 
    
    <section class="video-container">
	<h1 style="color:white">{{movie.title}}</h1>
	<div class="thumbnail">
	 <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="{{movie.title}}">
     <div class="play-button" onclick="openModal()">
                ▶
            </div>
	</div>
</section>

<div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>{{movie.title}}</h2>
            <p style="color: black;">No video available, only a thumbnail is displayed.</p>
        </div>
    </div>



<section class="post">
	<!--http://www.azlyrics.com/lyrics/katebush/runningupthathill.html-->
    <h3 style="color: white;">Movie Overview</h3>
    <small style="color: gray;">Rating : {{movie.vote_average}}</small><br>
    <small  style="color: gray;">Release Date :{{movie.release_date}}</small><br>
    <small  style="color: gray;">Original Language : {{movie.original_language}}</small><br><br>
    
	<h5 style="color: white;"> {{movie.overview}}</h5>
</section>
 <a href="/" class="btn btn-primary">Go back</a>
</body>
</html>